<h1>Youngest director</h1>

<% director = Director.where.not({ :dob => nil }).order({ :dob => :desc }).at(0) %>

<p>The youngest director in our dataset right now is <%= director.name %>, born on September 19, 1988.</p>
